<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
 
	<head>
	  <title>Sharonmines</title>

	   <!--- Basic Page Needs
	   ================================================== -->
		<meta charset="utf-8">
		<title>Sharon Mines</title>
		<meta name="description" content="">
		<meta name="author" content="">

	   <!-- Mobile Specific Metas
	  ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
	   ================================================== -->
	   <link rel="stylesheet" href="assets/base.css">
		<link rel="stylesheet" href="assets/layout.css">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	   <!-- Favicons
		================================================== -->
		  <%= favicon_link_tag '/assets/favicon.ico' %>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
			   <!-- Java Script
			   ================================================== -->
			   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
			   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

			   <script src="/assets/scrollspy.js"></script>
			   <script src="/assets/jquery.flexslider.js"></script>
			   <script src="/assets/jquery.reveal.js"></script>
			   <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
			   <script src="/assets/gmaps.js"></script>
			   <script src="/assets/init.js"></script>
			   <script src="/assets/smoothscrolling.js"></script>
			  <%= stylesheet_link_tag    "application", :media => "all" %>
			  <%= javascript_include_tag "application" %>
			  <%= csrf_meta_tags %>



	</head>

<body data-spy="scroll" data-target="#nav-wrap">


   <!-- Header
   ================================================== -->
   <header class="mobile">

      <div class="row">

         <div class="col full">

            <div class="logo">
               <a href="#"><img alt="" src="assets/logo.png"></a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">
	               <li><a href="#intro">Home</a></li>
	               <li><a href="#services">Services</a></li>
	               <li><a href="#portfolio">Portfolio</a></li>
	               <li><a href="#journal">Journal</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#contact">Contact</a></li>
               </ul>

            </nav>

         </div>

      </div>

   </header> <!-- Header End -->


		<%= yield %>
 

</html>
 
